/* responsive area */
@media only screen and (max-width: 1440px) {
  #header_section .banner .banner_image img {
    right: -4rem;
  }
}
@media only screen and (max-width: 1300px) {
  #header_section .banner .banner_image img {
    right: 0;
  }
}
@media only screen and (max-width: 992px) {
  #header_section .banner {
    flex-direction: column;
    margin-top: 60px;
  }
  #header_section .banner .banner_text {
    text-align: center;
  }
  #header_section .banner .banner_text .btn_group {
    justify-content: center;
  }
  #header_section {
    background-position: 10px 176px, right bottom;
  }
  #main_content .my_experience .card_container {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 880px) {
  #main_content .about_me .about .about_info {
    flex-direction: column;
    gap: 50px;
  }
  #main_content .about_me {
    padding: 131px 20px 50px 20px;
  }
}
@media only screen and (max-width: 768px) {
  #header_section .navigation {
    flex-direction: column;
  }
  #header_section .navigation .navigation_menu {
    margin-top: 40px;
  }
  #header_section {
    background: url(""), url(""), #fff8f3;
  }
  #main_content .resume_section .resume_container {
    flex-direction: column;
  }
  #main_content footer .contact_section {
    flex-direction: column;
  }
}
@media only screen and (max-width: 586px) {
  #header_section .banner .banner_image {
    margin-top: 100px;
  }
}
@media only screen and (max-width: 400px) {
  #header_section .navigation .navigation_menu {
    flex-direction: column;
  }
}
