/*=============================================
Reset_code_start_here
==============================================*/
* {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  box-sizing: border-box;
}
/*=============================================
Reset_code_end_here
==============================================*/

/*=============================================
Shared_style_class_start_here
==============================================*/
.collapse {
  display: none;
}
.container {
  width: 100%;
  max-width: 1140px;
  margin: 0px auto;
  padding: 0 16px;
}
.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn {
  padding: 19px 18px 17px;
  background-color: #fd6e0a;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #fd6e0a;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease;
}
.btn:hover {
  color: #fd6e0a;
  background-color: transparent;
}
/*=============================================
Shared_style_class_end_here
==============================================*/

/*=============================================
Header_start
==============================================*/
#header_section {
  background: url("../images/developer.png"), url("../images/header_bg.png"),
    #fff8f3;
  background-repeat: no-repeat, no-repeat;
  background-position: 40px center, right bottom;
}
#header_section .navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}
#header_section .navigation .logo a {
  text-decoration: none;
}
#header_section .navigation .logo h2 {
  font-size: 45px;
  font-weight: 800;
  color: #181818;
}
#header_section .navigation .logo h2 span {
  color: #fd6e0a;
}
#header_section .navigation .navigation_menu {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 51px;
}
#header_section .navigation .navigation_menu a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  color: #474747;
  position: relative;
}
#header_section .navigation .navigation_menu a::before {
  display: block;
  clear: both;
  content: "";
  width: 0;
  height: 4px;
  background-color: #fd6e0a;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.2s ease;
}
#header_section .navigation .navigation_menu a::after {
  display: block;
  clear: both;
  content: "";
  width: 0;
  height: 4px;
  background-color: #fd6e0a;
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.2s ease;
}
#header_section .navigation .navigation_menu a:hover::before {
  width: 50%;
}
#header_section .navigation .navigation_menu a:hover::after {
  width: 50%;
}
#header_section .navigation .navigation_menu button[type="button"] {
  padding: 18px 36px;
  background-color: #fd6e0a;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #ffffff;
  border: 1px solid #fd6e0a;
  transition: 0.2s ease;
}
#header_section .navigation .navigation_menu button[type="button"]:hover {
  background-color: transparent;
  color: #fd6e0a;
}
#header_section .banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#header_section .banner .banner_text {
  max-width: 585px;
  height: 356px;
}
#header_section .banner .banner_text h2 {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 5px;
}
#header_section .banner .banner_text h1 {
  color: #181818;
  font-size: 75px;
  font-weight: 700;
  margin-bottom: 20px;
}
#header_section .banner .banner_text p {
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}
#header_section .banner .banner_text .btn_group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
#header_section .banner .banner_image img {
  vertical-align: middle;
  width: 100%;
  height: 676px;
  position: relative;
  right: -8rem;
  transition: 0.2s ease;
}
/*=============================================
Header_end
==============================================*/
#main_content .about_me {
  margin-top: 130px;
  background-color: #fff8f3;
  padding: 131px 157px 131px 156px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 136px;
}
#main_content .about_me .about h2 {
  color: #181818;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
}
#main_content .about_me .about p {
  color: #757575;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
}
#main_content .about_me .about .about_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
#main_content .about_me .about .about_info h6 {
  color: #757575;
  font-size: 20px;
  margin-bottom: 10px;
}
#main_content .about_me .about .about_info h5 {
  color: #474747;
  font-size: 20px;
}
#main_content .my_experience {
  text-align: center;
  margin-bottom: 130px;
}
#main_content .my_experience h2 {
  color: #181818;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
}
#main_content .my_experience .experience {
  max-width: 827px;
  color: #757575;
  font-size: 18px;
  margin: 0px auto;
  margin-bottom: 50px;
}
#main_content .my_experience .card_container {
  display: flex;
}
#main_content .my_experience .card_container .card {
  margin-top: 50px;
  padding: 0 12px;
  border-radius: 5px;
}
#main_content .my_experience .card_container .card .card_body {
  box-shadow: 0px 0px 5px rgb(233, 230, 230);
  border-radius: 5px;
  padding: 20px 37px;
}
#main_content .my_experience .card_container .card .card_body img {
  padding: 30px 0;
}
#main_content .my_experience .card_container .card .card_body h3 {
  color: #181818;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
#main_content .my_experience .card_container .card .card_body p {
  color: #757575;
  font-size: 16px;
  text-align: center;
}
/* #main_content .my_experience .card_container .card .card_body {
  border: 1px solid black;
} */
#main_content .resume_section .resume_header {
  text-align: center;
  color: #181818;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 113px;
}
#main_content .resume_section .resume_container {
  display: flex;
  flex-direction: row;
  gap: 71px;
  margin-bottom: 50px;
}
#main_content .resume_section .resume_container h2 {
  color: #474747;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}
#main_content .resume_section .resume_container h3 {
  color: #474747;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}
#main_content .resume_section .resume_container h4 {
  color: #474747;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
#main_content .resume_section .resume_container p {
  color: #757575;
  font-size: 16px;
  line-height: 28px;
}
#main_content .resume_section .resume_container .resume_container_items {
  margin-bottom: 60px;
}
#main_content footer {
  background-color: #fff8f3;
}
#main_content footer .contact_section {
  display: flex;
  flex-direction: row;
  gap: 117px;
  margin-top: 113px;
  padding: 130px 0;
}
#main_content footer .contact_section .social_media h2 {
  color: #181818;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
}
#main_content footer .contact_section .social_media p {
  width: 562px;
  color: #474747;
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 28px;
}
#main_content footer .contact_section .social_media ul {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
#main_content footer .contact_section form h2 {
  color: #181818;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 28px;
}
#main_content footer .contact_section form input,
textarea {
  width: 100%;
  padding: 18px 30px;
  border: none;
  margin-bottom: 24px;
  border-radius: 5px;
}
#main_content footer .contact_section form textarea {
  height: 180px;
  box-sizing: border-box;
  resize: none;
}
